<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <display-name>vetokit</display-name>

  <!-- Servlets -->
  <servlet>
    <servlet-name>InitializationService</servlet-name>
    <servlet-class>com.miringue.vetokit.back.server.rpc.InitializationRPCServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializationService</servlet-name>
    <url-pattern>/Vetokit/gwtServices/initializationRPC</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ArticleService</servlet-name>
    <servlet-class>com.miringue.vetokit.back.server.rpc.ArticleRPCServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleService</servlet-name>
    <url-pattern>/Vetokit/gwtServices/articleRPC</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>ClientService</servlet-name>
        <servlet-class>com.miringue.vetokit.back.server.rpc.ClientRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientService</servlet-name>
        <url-pattern>/Vetokit/gwtServices/clientRPC</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LaboratoireService</servlet-name>
        <servlet-class>com.miringue.vetokit.back.server.rpc.LaboratoireRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LaboratoireService</servlet-name>
        <url-pattern>/Vetokit/gwtServices/laboratoireRPC</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MedicamentService</servlet-name>
        <servlet-class>com.miringue.vetokit.back.server.rpc.MedicamentRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicamentService</servlet-name>
        <url-pattern>/Vetokit/gwtServices/medicamentRPC</url-pattern>
    </servlet-mapping>

    
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Vetokit.html</welcome-file>
  </welcome-file-list>

</web-app>
